<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url(assets/images/Hospital.jpg)">
                <div class="container">
                    <h2>Welcome to <span>MindTree Hospitals</span></h2>
                    <h5>Advanced Medicine, Trusted Care.</h5>
                    <h5>Caring for the growing needs of our community.</h5>
                    <h5>Improving the Quality of Your Life at Home.</h5>
                   <h5> Trusted for our expertise. Chosen for our care.</h5>
                    <h5>Uncompromising Excellence. Commitment to Care.</h5>
                </div>
            </div>
        </div>
    </div>
</section>