<nav class="navbar navbar-expand-lg navbar navbar-light">
    
      <a class="navbar-brand" routerLink="/"><label>Hospital </label></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="float:inline-start ;">
      <div class="navbar-nav ml-auto" >
        <a class="nav-item nav-link" routerLink="doctors/doctor/add"><label>Add Doctor</label></a>
        <a class="nav-item nav-link" routerLink="patients/patient/add"><label>Admit Patient</label></a>
        <a class="nav-item nav-link" routerLink="doctor/view"><label>Show Doctor</label></a>
        <a class="nav-item nav-link" routerLink="patient/view"><label>Show Patient</label></a>
      </div>
    </div>
  </nav>